html {
    --vaadin-button-background: #FFF;        
    --vaadin-button-text-color: #023D67;
    --vaadin-button-border: 1px solid #DADFF1;
    --vaadin-button-border-radius: 6px;

    --vaadin-button-primary-background: #023D67;
    --vaadin-button-primary-text-color: #FFF;
    --vaadin-button-primary-border: none;

    --vaadin-input-field-background: #FFF;
    --vaadin-input-field-border-color: #DADFF1;
    --vaadin-input-field-value-color: #3E4661;
    --vaadin-input-field-border-width: 1px;
    --vaadin-input-field-border-radius: 6px;
}

body {
    font-family: Lato, Helvetica, sans-serif;
    background-color: #F9F9FB;
}

.headerNavBar {
    padding: 1em 2em;
    width: 100%;
    box-sizing: border-box;
    background-color: #FFF;
    box-shadow: 0px 2px 5px 0px rgba(111,114,132,0.15);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(111,114,132,0.15);
    -moz-box-shadow: 0px 2px 5px 0px rgba(111,114,132,0.15);
    z-index: 1;
}

.sectionLayout {
    padding: 2em;
    width: 100%;
    box-sizing: border-box;
}

.sectionRoute {
    font-weight: 500;
    padding: 0;
}

.sectionContentLayout {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    flex-grow: 1;
}

/****************** TABLE STYLES ****************************/
.employeeTable {
    padding: 0;
    margin-top: 1.3em;
}

.employeeTableAvatar {
    height: 40px;
    width: 40px;
    min-width: 40px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.employeeTableName {
    font-weight: 400;
    font-size: 14px;
    color: #03749C;
}

.employeeTableEmail {
    font-weight: 400;
    font-size: 12px;
    color: #516B7B;
}

.employeeTableTeamTag {
    border-radius: 6px;
    border: 1px solid #E2E8F0;
    font-size: 12px;
    padding: 2px 8px;
}

.employeeTableStatusIcon {
    width: 16px;
    height: 16px;
    margin-right: .5em;
}

.employeeDetailStatusTag {
    border: 1px solid #E2E8F0;
    padding: 0.5em 1em;
    margin: 1em;
    font-size: 12px;
    font-weight: 400;
    border-radius: 6px;
}

.active {
    color: #105E1D;
}

.activeBackground {
    background: #C4E0B1;
}

.inactive {
    color: #800040;
}

.inactiveBackground {
    background: #ebccdb;
}

.employeeTableStatusIncluded {
    font-weight: 400;
    font-size: 14px;
    color: #173A4F;
}

.employeeTableStatus {
    font-weight: 400;
    font-size: 12px;
}

.employeeTableConnectedNetwork {
    width: 20px;
    height: auto;
    margin-right: .5em;
}


/****************** FIN: TABLE STYLES ****************************/




/****************** DETAIL STYLES ****************************/
.employeeDetail {
    display: flex;
    padding: 0;
    gap: 0;
    box-sizing: border-box;
    background-color: #FFF;
}

.sectionTitle {
    font-weight: 700;
    font-size: 28px;
}

.sectionDescription {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 1.3em;
}

.employeeDetailTitleLayout {
    padding: 1em;
    padding-bottom: 0;
    width: 100%;
    align-items: center;
}

.employeeDetailTitle {
    font-size: 19px;
    font-weight: 600;
    flex-grow: 1;
}

.employeeDetailButton {
    width: 20px;
    height: 20px;
}

.employeeDetailProfileInfo {
    padding: 1em;
    flex-grow: 1;
    border-top: 1px solid #DADFF1;
    border-bottom: 1px solid #DADFF1;
}

.employeeDetailFormField {
    padding-top: var(--lumo-space-m);
    width: 100%;
}

.employeeDetailButtonsLayout {
    padding: 1em;
}

/****************** FIN: DETAIL STYLES ****************************/





/**********************************/
.filterGridLabel {
    padding: 1em;
    font-weight: 600;
    color: #023D67;
}

.filterGridTextField {
    width: 100%;
    box-sizing: border-box;
    padding: .5em;
}

.filterGridSelectAll {
    color: #03749C;
    cursor: pointer;
    padding: 0 calc(.5em + 4px);
    font-size: 16px;
}

.filterGrid {
    width: 300px;
    height: 150px;
    color: #023D67;
    font-weight: 400;
}

.filterButtonLayout {
    padding: .5em 1em;
    border-top: 1px solid #DADFF1;
    background: #F2F3F7;
    width: 100%;
}

.filterSecondaryButton {
    border-radius: 6px;
    border: 1px solid #15B1D7;
    background-color: #E2F7FF;
    color: #023D67;
    font-size: 14px;
    padding: 2px 8px;
    height: 36px;
    cursor: pointer;
    align-items: center;
    user-select: none;
}

.filterSecondaryButton > vaadin-icon {
    height: 1.5em;
    max-height: 22px;
    margin-left: .5em;
}



